body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  height: 100vh;
  width: 100%;
  background: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2401x1600/cd1ad5defc2527bdccd1b8e7d5cb647c/photo-1576000613930-4c17d9948918.jpg") no-repeat center / cover;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
